body {
  font-family: Arial, sans-serif;

  margin: 0;

  padding: 0;

  display: flex;

  justify-content: center;

  align-items: center;

  height: 100vh;

  background-color: #f0f0f0;
}
.head {
  text-align: center;
  color: red;
}

.weather-container {
  background-color: #fff;

  padding: 20px;

  border-radius: 8px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: grid;
  place-items: center;
  background-image: url(./cloud-blue-sky.jpg);
  background-size: cover;
}

.weather-data {
  margin-top: 20px;
  display: grid;
  align-items: center;
  background-image: 'https://img.freepik.com/premium-vector/blue-sky-with-sun-white-clouds_41981-475.jpg?size=626&ext=jpg';
}
